html
  body
    h1 Normal internet setting updated
    p Check current location status :  
      a(href='https://www.whatismybrowser.com/detect/ip-address-location') https://www.whatismybrowser.com/detect/ip-address-location
